
# Node modules
node_modules/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Logs
logs/
*.log

# Environment
.env
env/*.env

# OS files
.DS_Store

# IDE
.vscode/

# AI output
advanced-failures.jsonl